.graphicDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85vw;
    height: 70vh;
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.6);
}

.graphicClass{
    width: 80vw;
    height: 65vh;
}